.inputformcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;

}

.label{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #424242;
}

.inputform{
  width: 374px;
  height: 50px;
  color: #424242;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
    background-color: #fff;
    border-radius: 30px;
    border: none;
    padding: 0px 30px;
    box-sizing: border-box;
  }

  .inputform::placeholder{
    font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
    color: #C4C4C4;
  }
  .inputform:focus{
    color: #424242;
    border: 0.5px solid #E52C32;
    box-shadow: 0px 0px 5px rgba(229, 44, 50, 0.25);
  }

  .passinputformcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    position: relative;

  }
  .passicon{
    position:absolute;
  right: 5%;
  }

  input:focus { 
    border: transparent;
    outline: none  !important;;
  }

  .is-invalid{
    background-color: #fff;
    color: #424242;
  }

  .error{
    display: flex;
    justify-content: start;
    font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #DF3030;
  margin-left: 5%;
  }