.promocontainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
}
.promocontainer::-webkit-scrollbar{
    display: none;
}
.promoitem {
    display: flex;
    margin-left: 20px;
    margin-right: -25px;
    align-items: center;
    background-color: transparent;
    border-radius: 15px;
  }
  .promobutton{
      display: flex;
      background-color: transparent;
      outline: none;
      box-shadow: none;
      border: none;
  }

  .promoitemPhoto {
    width: 374px;
    height: 110px;
    border-radius: 15px;
    object-fit: cover;
  }